Source: mpd
Section: sound
Priority: optional
Maintainer: mpd maintainers <pkg-mpd-maintainers@lists.alioth.debian.org>
Uploaders: Florian Schlichting <fsfs@debian.org>, Geoffroy Youri Berret <kaliko@debian.org>
Build-Depends: debhelper-compat (= 13),
               meson (>= 0.56.0),
               libsndio-dev,
               libadplug-dev,
               libao-dev,
               libasound2-dev  [linux-any],
               libavahi-client-dev,
               libavcodec-dev,
               libavfilter-dev,
               libavformat-dev,
               libboost-dev,
               libbz2-dev,
               libcdio-paranoia-dev (>= 10.2+0.93+1),
               libchromaprint-dev,
               libcurl4-gnutls-dev (>= 7.55),
               libexpat1-dev,
               libfaad-dev,
               libflac-dev,
               libfluidsynth-dev,
               libfmt-dev (>= 5.1.2),
               libgcrypt20-dev,
               libgme-dev,
               libicu-dev,
               libid3tag0-dev,
               libiso9660-dev,
               libjack-jackd2-dev,
               libmad0-dev,
               libmikmod-dev,
               libmms-dev,
               libmodplug-dev,
               libmp3lame-dev,
               libmpcdec-dev,
               libmpdclient-dev (>= 2.11),
               libmpg123-dev,
               libnfs-dev,
               libogg-dev,
               libopenal-dev,
               libopenmpt-dev,
               libopus-dev,
               libpcre2-dev,
               libpipewire-0.2-dev,
               libpulse-dev,
               libresid-builder-dev,
               libsamplerate0-dev,
               libshine-dev [armel],
               libshout-dev,
               libsidplayfp-dev,
               libsidutils-dev,
               libsmbclient-dev [!hurd-i386],
               libsndfile1-dev,
               libsoxr-dev,
               libsqlite3-dev,
               libsystemd-dev [linux-any],
               libupnp-dev (>= 1.8~),
               libvorbis-dev [!armel],
               libvorbisidec-dev (>= 1.2.1+git20180316-3) [armel],
               libwavpack-dev,
               libwildmidi-dev,
               libyajl-dev,
               libzzip-dev,
# for docs:
               python3-sphinx,
# for tests:
               libgtest-dev
Standards-Version: 4.6.2
Homepage: https://www.musicpd.org/
Vcs-Browser: https://salsa.debian.org/mpd-team/mpd
Vcs-Git: https://salsa.debian.org/mpd-team/mpd.git
Rules-Requires-Root: no

Package: mpd
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: adduser, ${misc:Depends}, ${shlibs:Depends}, ${sphinxdoc:Depends}
Suggests: avahi-daemon, icecast2, mpd-client, pulseaudio
Built-Using: ${sphinxdoc:Built-Using}
Description: Music Player Daemon
 Music Player Daemon (MPD) is a server that allows remote access for
 playing audio files (Ogg-Vorbis, FLAC, MP3, Wave, and AIFF), streams
 (Ogg-Vorbis, MP3) and managing playlists.  Gapless playback, buffered
 output, and crossfading support is also included.  The design focus is
 on integrating a computer into a stereo system that provides control
 for music playback over a TCP/IP network.  The goals are to be easy to
 install and use, to have minimal resource requirements (it has been
 reported to run fine on a Pentium 75), and to remain stable and
 flexible.
 .
 The daemon is controlled through a client which need not run on the
 same computer mpd runs on.  The separate client and server design
 allows users to choose a user interface that best suites their tastes
 independently of the underlying daemon (this package) which actually
 plays music.
